// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$dark-red: #62000A;
$dark-green: #118266;

$light-gray: #F4F4F4;
$light-red: #fab1b1;
$light-purple: #9a9fff;
$light-green: #9bebad;

