<div class="container">

<h1>Hi adm</h1>
<div class="tabs">
  <div class="tab-header">
    <div class="active">
      <%= image_tag "box.svg", alt: "Caixa com coração" %> Doações
    </div>
    <div>
      <%= image_tag "love.svg", alt: "Projeto" %> Voluntários
    </div>
    <div>
      <%= image_tag "clipboard.svg", alt: "Projeto" %> Projetos/Parcerias
    </div>
    <div>
      <%= image_tag "clipboard.svg", alt: "Contato" %> Contatos
    </div>
  </div>
  <div class="tab-indicator"></div>
  <div class="tab-body">
    <div class="active">
      <h2>This is Doações section</h2>
      <p>jijaoiajsoiajasoijsaoisajoisajasoi</p>
    </div>
    <div>
      <h2>Aqui são os voluntários</h2>
      <p>jijaoiajsoiajasoijsaoisajoisajasoi</p>
    </div>
    <div>
      <h2>Aqui são Projetos/Parcerias</h2>
      <p>jijaoiajsoiajasoijsaoisajoisajasoi</p>
    </div>
     <div>
      <h2>Aqui são Contatos</h2>
      <p>jijaoiajsoiajasoijsaoisajoisajasoi</p>
    </div>
  </div>
</div>

</div>