<div class="banner" >
  <div class="banner-text" >
    <h2>Casalar-Emaús</h2>
    <p>Mais que uma casa, um lar.</p>
  </div>
  <div class="image-crop">
    <%= image_tag "banner-green.png", alt: "Crianças dando as mãos", class: "banner-img"%>
  </div>
</div>