<div class="container">
  <div class="row  my-5">
    <div class="col text-center">
        <h1>Bem vindos à Casa Lar Emaús</h1>
        <p>A Casa Lar é um abrigo para crianças entre 6 e 12 anos e fornece aos acolhidos moradia, alimentação, saúde, educação, lazer e outras atividades relacionadas com o desenvolvimento integral das crianças.</p>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-12 col-md-6">
      <div class="image-card green-card">
        <h2>Nosso Objetivo</h2>
      </div>
    </div>
     <div class="col-12 col-md-6 white-big-card">
      <p>O nosso objetivo é ser uma casa de acolhimento modelo para atendimento de crianças do sexo masculino com 06 até 12 anos, encaminhadas pelo Conselho Tutelar de Florianópolis, visando a permanência necessária e temporária, até reintrodução ao convívio familiar original, colocação em família substituta, adoção  (nacional ou internacional) ou preparação para vida autônoma, depois de completados 18 anos.</p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-6 white-big-card">
      <p>Constituída como entidade privada sem finalidade lucrativa, com natureza filantrópica, a Casa Lar Emaus realiza o acolhimento previsto pela Lei n° 8.069/90, Estatuto da Criança e Adolescente (ECA), aplicado quando, após se esgotarem as demais medidas de proteção previstas,  torna-se meio para  proteger a criança ou adolescente das violações a que estejam sofrendo em sua família. A CasaLar Emaús busca oferecer às crianças um ambiente acolhedor e sadio com transmissão de valores essenciais ao seu bom desenvolvimento. Isso compreende aspectos básicos como moradia, alimentação, acesso à educação, saúde e também cultura, esporte, lazer e todo tipo de preocupação com seu bem estar,  oferecendo a  possibilidade de novas oportunidades e  buscando sempre sua formação integral.</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="image-card pink-card">
        <h2>Nossa Base Jurídica</h2>
      </div>
    </div>
  </div>


  <div class="row mb-5">
    <div class="col-12 col-md-6">
      <div class="image-card blue-card">
        <h2>História</h2>
      </div>
    </div>
    <div class="col-12 col-md-6 white-big-card">
      <p>Durante o verão de 1993, jovens do Movimento de Emaús, movidos pelo espírito de serviço e com a convicção de que a “fé sem obras é morta”, iniciaram um trabalho de apoio a um grupo de crianças e adolescentes sem vínculo familiar no Município Rancho Queimado, a 75 km de Florianópolis (SC). Este trabalho, embora tenha findado pela dissolução da casa que acolhia tais crianças e adolescentes, motivou os jovens a  assumirem novos desafios na cidade de Florianópolis, dando origem à associação Ação Social Missão, em março do mesmo ano.</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-6 white-big-card">
      <p>Atualmente o vínculo de colaboradores envolvidos ocorre de duas formas distintas. Há uma equipe contratada e permanente para a realização de atividades essenciais: Psicóloga, Assistente Social e Cuidadores/Educadores, atuando de maneira profissional de acordo com sua especialidade. Todas as demais atividades são coordenadas e realizadas por voluntários, incluindo a diretoria da instituição (Diretoria geral, Diretoria financeira, Secretaria e Conselho).</p>
      <p>O sustento das suas atividades ocorre por meio de convênios com o Poder Público, convênios com pessoas jurídicas, e por meio de ações de arrecadação, eventos beneficentes e doações espontâneas.</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="image-card green-card">
        <h2>Equipe</h2>
      </div>
    </div>
  </div>
</div>

