<div class="transfer-cards-container">
  <div class="row">
    <div class="col-sm-12 col-md-4 mrg">
      <div class="card-home blue-card">
        <div class="transfer-items">
          <%= image_tag "banco-do-brasil.svg", alt: "transferência", class: "icon-card" %>
          <h2>Depóstio ou transferência</h2>
          <p class="button-card">Depóstio ou transferência</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mrg">
      <div class="card-home pink-card">
        <div class="transfer-items">
          <%= image_tag "pagseguro.svg", alt: "pagseguro", class: "icon-card" %>
          <h2>Cartão de crédito</h2>
          <p class="button-card">Cartão de crédito</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mrg">
      <div class="card-home green-card">
        <div class="transfer-items">
          <%= image_tag "ilumine-uma-vida.svg", alt: "ilumine uma vida", class: "icon-card" %>
          <h2>Conta de luz</h2>
          <%= link_to 'Baixe aqui', download_path, class:"button-card" %>
        </div>
      </div>
    </div>
  </div>
</div>