<div class="cards-container">
  <div class="row">
    <div class="col-sm-12 col-md-4 mrg">
      <div class="card-home blue-card"></div>
    </div>
    <div class="col-sm-12 col-md-4 mrg">
      <div class="card-home pink-card"></div>
    </div>
    <div class="col-sm-12 col-md-4 mrg">
      <div class="card-home green-card"></div>
    </div>

  </div>
</div>