<div class="container">
  <div class="cards-project">
    <div class="row">
      <% @projects.each do |project|  %>
        <div class="col-4">
          <div class="card-project">
            <p><%= project.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>