.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5% 0 8% 0;

  .banner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #1B7641;
  }

  .image-crop {
    overflow: hidden;
  }

  .banner-img {
    width: 100%;
  }

  h1 {
    font-family: $banner-font;
    font-size: 6em;
  }

  p {
    font-size: 1.5em;
  }
}

.banner-container {
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 960px) {
  .banner-container {
    h1 {
      font-size: 5em;
    }

    p {
      font-size: 1.3em;
    }
  }
}

@media(max-width: 860px) {
  .banner-container {
    margin-top: 50px;
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1em;
    }
  }
}

@media(max-width: 767px) {
  .banner {
    flex-direction: column-reverse;
  }

  .banner-container {
    margin-top: 50px;
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1em;
    }
  }
}