.button-card {
 background-color: white;
 border-radius: 20px;
 padding: 10px 20px;
 color: $dark-green;
 text-decoration: none;
 margin: 5px auto;

 &:hover {
  color: $dark-green;
  text-decoration: none;
  opacity: .8;
 }
}

.button-banner {
  color: white;
  background-color: $dark-green;
  padding: 20px 30px;
  border-radius: 10px;
   &:hover {
    color: white;
  text-decoration: none;
  opacity: .8;
 }
}
.button-donation-submit {
  color: white;
  background-color: $dark-green;
  padding: 10px 25px;
  border-radius: 10px;
   &:hover {
    color: white;
  text-decoration: none;
  opacity: .8;
 }
}
