/* General form */

label {
    color: gray;
    font-size: 14px;
}

/*    Volunteer form --> projects/:id    */

.form-header {
    margin-top: 40px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size:cover;
    background-repeat: no-repeat;
    height: 250px;
    color: white;
    background-position: center;
    padding: 30px;
}

.form-volunteer-box .form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(167, 167, 167);
    outline: none;
    background: transparent;
}


.default-image-project{
    background-image: linear-gradient(rgba(0,0,0,0.28), rgba(0,0,0,0.40)), asset-url('projeto.jpg');
}


// contact page
.contact-container {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.contact-div {
  max-width: 500px;
  box-shadow: 2px 2px 4px gray;
  padding: 20px;
  border-radius: 20px;
}

.contact-info {
  text-align: center;
  margin-top: 40px;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;
  }

  li {
    padding: 5px;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color:none;
  }

  i {
    font-size: 40px;
  }
  .email {
    color: $light-purple;
  }

  .whatsapp {
    color: rgb(37, 211, 102);
  }

  .phone {
    color: $light-red;
  }
}