.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-items {
  margin-left: 15px;
}

.nav-item {
  font-size: 15px;
  margin-right: 45px;
  font-weight: bold;

}

.nav-link-black {
  color: rgba(0, 0, 0, 0.466);
  padding-bottom: 5px;
  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);
    border-bottom: 2px solid rgba(0, 0, 0, 0.623);;
  }
}

.nav-link-green {
  color: $dark-green;
  opacity: 0.9;
  padding-bottom: 5px;
  &:hover {
    text-decoration: none;
    color: #015741;
    opacity: 0.9;
    border-bottom: 2px solid #015741b7;
  }
}

.nav-link-purple {
  color: $light-purple;
  opacity: 0.9;
  padding-bottom: 5px;
  &:hover {
    text-decoration: none;
    color: #7077f5;
    opacity: 0.9;
    border-bottom: 2px solid #7077f5b4;
  }
}

.nav-link-red {
  color: $light-red;
  opacity: 0.9;
  padding-bottom: 5px;
  &:hover {
    text-decoration: none;
    color: #f16248;
    opacity: 0.9;
    border-bottom: 2px solid #f16148b9;
  }
}
