<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entranto em contato para notificar que seu e-mail está sendo trocado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para notificar que seu e-mail foi trocado para <%= @resource.email %>.</p>
<% end %>
