<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link de mudança de senha. Você pode prossegui pelo link a baixo:</p>

<p><%= link_to 'Trocar meu password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a mudança, favor ignorar esse e-mail.</p>
<p>Sua senha não será alterada até você acessar o link acima e criar um novo.</p>
